body {
    background: #fff;
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
}
li{
    font-size:13px;
    text-align: left;
    padding-bottom: 10px;
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

canvas {
    display: block;
}
div.parent {
	text-align: center;
	}
ul { 
	display: inline-block; 
	text-align: left; 
	}
input[type=text]{
    margin-right: 7px;
}
